/* Styles for the modal */
a {
  text-decoration: none;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  z-index: 9999;
  
}

.modal-content {
  background-color: #fff;
  margin: 20px auto;
  max-width: 1700px;
  max-height: 1800px;
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
}

.cat-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: none;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  row-gap: 17px;
  column-gap: 8px;
  margin-top: 40px;
}

.cat-card {
  width: 180px;
  height: 162px;
  border-radius: 8px;
  position: relative;
}

.cat-card img {
  width: 98%;
  height: 98%;
  border-radius: 8px;
}

.cat-text {
  position: absolute;
  top: -15px;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cat-text span {
  font-size: 16px;
  font-weight: 400;
  width:auto;
  min-width: 145px;
  background-color: #ea1c24;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .cat-text span {
    font-size: 14px;
    width: 120px;
  }
}

@media screen and (max-width: 480px) {
  .cat-text span {
    font-size: 12px;
    width: 80px;
  }
}
/* Styles for the brand container */
.brand-card {
  width: 205px;
  height: 260px;
  border: 1px solid #0173b8;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  border-radius: 6px;
}

.brand-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.brand-container.brand-card .img-holder {
  width: 100%;
  height: 50%;
}

.brand-card .img-holder img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: fill;
}

.brand-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.brand-text h5 {
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  background-color: #0173b8;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  line-height: 24px;
  margin-top: -40px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 1700px) {
  .modal-content {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .cat-container {
    justify-content: center;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .cat-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .brand-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .cat-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .brand-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

@media only screen and (max-width: 576px) {
  .cat-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .brand-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
